html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f4f5f7 !important;
  word-break: break-word;
}

.CodeMirror,
.CodeMirror-scroll {
  border-radius: 0.3em;
}

.success {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #3a6f3a;
  background-color: #daedd2;
}

.info {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #2b6584;
  background-color: #d3eaf6;
}

.warning {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #af9c75;
  background-color: #fcf7df;
}

.danger {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #9f3b3a;
  background-color: #f0d9d9;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
